//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.01
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Created Time: Mon 02 23 18:58:48 2026

IO_LOC "O_tmds_clk_po" 33,34;
IO_PORT "O_tmds_clk_po" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_po[0]" 35,36;
IO_PORT "O_tmds_data_po[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_po[1]" 37,38;
IO_PORT "O_tmds_data_po[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_po[2]" 39,40;
IO_PORT "O_tmds_data_po[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_dtack_n" 53;
IO_PORT "cpu_dtack_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_int_n" 51;
IO_PORT "cpu_int_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[15]" 69;
IO_PORT "cpu_data[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[14]" 70;
IO_PORT "cpu_data[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[13]" 71;
IO_PORT "cpu_data[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[12]" 72;
IO_PORT "cpu_data[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[11]" 73;
IO_PORT "cpu_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[10]" 74;
IO_PORT "cpu_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[9]" 75;
IO_PORT "cpu_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[8]" 76;
IO_PORT "cpu_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[7]" 79;
IO_PORT "cpu_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[6]" 80;
IO_PORT "cpu_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[5]" 81;
IO_PORT "cpu_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[4]" 82;
IO_PORT "cpu_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[3]" 83;
IO_PORT "cpu_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[2]" 84;
IO_PORT "cpu_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[1]" 85;
IO_PORT "cpu_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_data[0]" 86;
IO_PORT "cpu_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cpu_rd_n" 49;
IO_PORT "cpu_rd_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_lw_n" 48;
IO_PORT "cpu_lw_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_uw_n" 42;
IO_PORT "cpu_uw_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_cs_n" 41;
IO_PORT "cpu_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[20]" 10;
IO_PORT "cpu_addr[20]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[19]" 77;
IO_PORT "cpu_addr[19]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[18]" 88;
IO_PORT "cpu_addr[18]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[17]" 63;
IO_PORT "cpu_addr[17]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[16]" 87;
IO_PORT "cpu_addr[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[15]" 11;
IO_PORT "cpu_addr[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[14]" 13;
IO_PORT "cpu_addr[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[13]" 15;
IO_PORT "cpu_addr[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[12]" 16;
IO_PORT "cpu_addr[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[11]" 17;
IO_PORT "cpu_addr[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[10]" 18;
IO_PORT "cpu_addr[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[9]" 19;
IO_PORT "cpu_addr[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[8]" 20;
IO_PORT "cpu_addr[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[7]" 25;
IO_PORT "cpu_addr[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[6]" 26;
IO_PORT "cpu_addr[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[5]" 27;
IO_PORT "cpu_addr[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[4]" 28;
IO_PORT "cpu_addr[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[3]" 29;
IO_PORT "cpu_addr[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[2]" 30;
IO_PORT "cpu_addr[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[1]" 31;
IO_PORT "cpu_addr[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cpu_addr[0]" 32;
IO_PORT "cpu_addr[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "reset_n" 57;
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
